<section class="reserva contenedor">
    <div class="contenido-reserva">
        <div class="texto-reserva">
            <h3>¡Reserva Tu Mesa y No Te Quedes Sin Ella!</h3>
            <p>En FoodExpress, cada plato es una experiencia única que no querrás perderte. Nuestros
                comensales suelen llenarnos rápidamente, así que asegúrate de asegurar tu lugar. 
                <br><br>
                ¡Haz tu reserva ahora y
                disfruta de una velada inolvidable con la mejor gastronomía y un ambiente acogedor! 
                <br><br>
                Tu mesa te espera.
            </p>
            <a href="#" class="btn btn-verde">Reserva ya!</a>
        </div>
        <div class="imagen-reserva">
            <img data-src="/assets/img/chef.webp" alt="fotografia de reserva">
        </div>
    </div>
</section>