<section class="menu contenedor">
    <h2 class="texto-platillos">Especialidades de la Casa</h2>
    <div class="botones-platillos">
        <button class="todos btn btn-verde">Todos</button>
        <button class="ensaladas btn btn-verde">Ensaladas</button>
        <button class="pasta btn btn-verde">Pasta</button>
        <button class="pizza btn btn-verde">Pizza</button>
        <button class="postres btn btn-verde">Postres</button>
        <button class="postres btn btn-verde">Bebidas</button>
        <button class="postres btn btn-verde">Extranjera</button>
    </div>
    <div class="platillos">
        <div class="platillo" data-platillo="ensalada">
            <img data-src="assets/img/ensalada.webp" alt="ensalada">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="ensalada">
            <img data-src="assets/img/ensalada2.webp" alt="ensalada">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="ensalada">
            <img data-src="assets/img/ensalada2.webp" alt="ensalada">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pasta">
            <img data-src="assets/img/pasta1.webp" alt="pasta">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pasta">
            <img data-src="assets/img/pasta2.webp" alt="pasta">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pasta">
            <img data-src="assets/img/pasta2.webp" alt="pasta">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pizza">
            <img data-src="assets/img/pizza1.webp" alt="pizza">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pizza">
            <img data-src="assets/img/pizza2.webp" alt="pizza">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pizza">
            <img data-src="assets/img/pizza2.webp" alt="pizza">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="postre">
            <img data-src="assets/img/postres1.webp" alt="postre">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="postre">
            <img data-src="assets/img/postres2.webp" alt="postre">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="postre">
            <img data-src="assets/img/postres2.webp" alt="postre">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
    </div>
</section>
