
<div class="pie-pagina ">
    <div class="contenedor-piepagina contenedor">
        <div class="info">
            <h3>Dirección</h3>
            <p>23.Roma Italia 75012</p>
        </div>
        <div class="info">
            <h3>Días especiales</h3>
            <p>Sabados y Jueves 7am - 11pm</p>
            <p>+3123410921</p>
        </div>
        <div class="info">
            <h3>Horarios</h3>
            <p>Lunes - Domingo 7am - 11pm</p>
            <div class="redes-sociales redes-pie">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
