<div class="contenedor-nosotros contenedor">
    <div class="texto-nosotros">
        <p class="bienvenida">Bienvenido a!</p>
        <h1>FoodExpress</h1>
        <p>En FoodExpress, nuestra pasión por la gastronomía se refleja en cada plato que servimos. Fundado
            en 2021, nos especializamos en la gastronomía colombia, utilizando solo los
            ingredientes más frescos y de calidad. Nuestro ambiente acogedor y nuestro equipo amable están dedicados a
            brindarte una experiencia única, ya sea en el restaurante o en la comodidad de tu hogar. Ven y descubre el
            sabor que nos hace especiales.
        </p>
        <a href="#" class="btn btn-rojo">Conócenos</a>
    </div>
    <div class="imagenes-nosotros">
        <div class="imagen1">
            <img data-src="assets/img/nosotros1.webp" alt="mujer comiendo pizza">
        </div>
        <div class="imagenes2">
            <img data-src="assets/img/nosotros2.webp" alt="mujeres comiendo pizza">
            <img data-src="assets/img/nosotros3.webp" alt="plato con pasta">
        </div>
    </div>
</div>