<div class="contenido-header">
    <div class="contenedor-encabezado">
        <video autoplay loop muted playsinline class="video-fondo">
            <source src="/assets/img/bg_video.mp4" type="video/mp4">
        </video>
        <div class="texto-encabezado">
            <h2 class="title-welcome">¡Bienvenido!</h2>
            <div class="boton">
                <li class="nav-item">
                    <a class="nav-link acceso">Aquí nuestro menú</a>
                </li>
            </div>
        </div>
    </div>
</div>