<div class="formulario-contacto contenedor">

    <div class="informacion-contacto">
        <h3>Contáctanos</h3>
        <p><i class="fas fa-map-marker-alt"></i>23. Roma Italia 75012</p>
        <p><i class="fas fa-envelope"></i> correo</p>
        <p><i class="fas fa-phone-alt"></i>+31123410921</p>
        <div class="redes-sociales">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>

    <!--
    <form class="formulario">
        <div class="input-formulario">
            <label for="nombre">Nombre</label>
            <input type="text" placeholder="Pedro" id="nombre">
        </div>
        <div class="input-formulario">
            <label for="apellidos">Apellido</label>
            <input type="text" placeholder="Pedro" id="apellidos">
        </div>
        <div class="input-formulario">
            <label for="correo">Correo</label>
            <input type="email" placeholder="ejemplo@ejemplo.com" id="correo">
        </div>
        <div class="input-formulario">
            <label for="telefono">Teléfono</label>
            <input type="tel" placeholder="+90 543 779 9410" id="telefono">
        </div>
        <div class="input-formulario">
            <label for="mensaje">Mensaje</label>
            <textarea></textarea>
        </div>
        <div class="btn-formulario">
            <input type="submit" class="btn btn-verde" value="Enviar">
        </div>
        
    </form>
    -->

</div>